body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #35424a;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

section {
    padding: 20px;
    margin: 20px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.projects-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project {
    flex: 1 1 calc(30% - 20px);
    margin: 10px;
    background: #eaeaea;
    border-radius: 5px;
    padding: 10px;
}

.passions-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #35424a;
    color: white;
}
